
.text{
    font-size: 2.5rem;
    font-style: italic;
    font-family: 'Libre Bodoni', serif;
    padding: 20rem;
    /* padding-top: 35rem; */
    text-align: center;
    color: burlywood;
}
.blog{
    background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../photos/blogs.jpg);
    background-size: cover;
    background-position:  center top;
    background-repeat: no-repeat;
    height: 110vh;

}
.blog a{
    padding-top: 1.2rem;
    text-decoration: none;
    font-size: 3.2rem;
    color: #000000;
}
.container{
    padding-top: 6rem;
}
.quotes-block{
    font-size: larger;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 15rem;
    padding-right: 15rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(0, 13, 255);
    background-color: rgba(222, 184, 135, 0.445);
    border-radius: 1rem;
}
.quotes-block small{
    text-align: right;
}

.login, .signup{
    min-height: 100%;
    padding-top: 15rem;
    padding-bottom: 9rem;
    background-color: rgba(12, 66, 120, 0.731);
}
/* new blog/ blog.html */
.adder{
    background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../photos/blog.jpg);
    background-size: contain;
    background-position:  center top;
    background-repeat: no-repeat;
    height: 90vh;

}
.adder .col-md-4{
    padding-top: 10rem;
}

.adder .control-label{
    font-size: large;
    color: burlywood;
}
.adder h2{
    font-size: 3rem;
    color: burlywood;
}


/* Blog post */
.right-b{
    border-right: solid grey;
    min-height: 100vh;
}
.blog-post{
    border-bottom: solid #000000;
    border-width: 0.3mm;
}
.blog-post h5{
    font-size: 5rem;
    padding-top: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}
.comment-box{
    border: solid rgba(222, 184, 135, 0.92);
    border-width: 0.5mm;
    padding: 2rem;
    border-radius: 2rem;

}