{% extends 'bootstrap/base.html' %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <!-- font-family: 'Libre Bodoni', serif; -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,700&display=swap" rel="stylesheet">
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}